<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Chat</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h3>Edit Chat</h3>
      <p>
        This chat was sent from <b><%= chat.from %></b> to
        <b><%= chat.to %></b>
      </p>

      <form
        method="POST"
        action="/chats/<%= chat._id %>?_method=PUT"
        class="chat-form"
      >
        <textarea name="msg" rows="6" cols="50"><%= chat.msg %></textarea>
        <button class="btn">Update</button>
      </form>
    </div>
  </body>
</html>
